/* doing imports in css to keep all the styling away from the html */
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* from class */
html {
	box-sizing: border-box;
	font-size: 16px;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}

/* body and text */
body {
	font-family: "Anek Malayalam", sans-serif;
	margin: 0;
	background-color: #fcf8ff;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 5rem;
	margin-bottom: 3%;
	margin-top: 4%;
	color: #4b4453;
}

h2 {
	margin-top: 9%;
	font-family: "Raleway", sans-serif;
	font-size: 3rem;
	color: #4b4453;
}

h2 > a {
	font-family: "Raleway", sans-serif;
	font-size: 3rem;
	color: #4b4453;
	text-decoration: none;
}

h2 > a:hover {
	font-family: "Raleway", sans-serif;
	font-size: 3rem;
	color: #a77ce4;
	transition-timing-function: linear;
	transition-duration: 0.1s;
}

h3 {
	font-family: "Raleway", sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
	color: #4b4453;
	margin-bottom: 0;
}

h4 {
	font-family: "Raleway", sans-serif;
	font-size: 1.3rem;
	color: #4b4453;
	margin-bottom: 0;
	font-weight: 500;
}

p {
	color: #4b4453;
	font-size: 1.4rem;
}

p > a {
	color: #4b4453;
}

.text-section {
	width: 100%;
	height: auto;
	text-align: left;
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 0;
}

.half-column-long {
	width: 45%;
	height: auto;
	text-align: left;
	padding: 3%;
	padding-top: 0;
	padding-bottom: 5%;
	margin-bottom: 5%;
}

.project-list {
	list-style-type: none;
	width: 100%;
}

.subsection-text {
	margin-left: 5%;
}

#profile-pic {
	border-radius: 100%;
	height: 40vh;
	width: 40vh;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.centered-icon {
	margin-right: 50%;
	margin-left: 50%;
	margin-top: 2%;
	width: 50px;
	height: 50px;
	color: #4b4453;
}

/* basic columns and sections */

/* boilerplate code from https://brunchlabs.slides.com/timtregubov/cs52-css?token=pW34poG0#/9/1 */
/* aligns objects in a row -- a set of columns, with ample space around them  */
.columns {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;
	list-style-type: none;
	flex-wrap: wrap;
	margin: none;
}

.smaller-columns {
	margin-top: 6%;
	height: 90%;
}

.columns > li {
	margin: 1%;
}

li > img {
	width: 100%;
}

.sub-section > ul > li {
	text-align: left;
}

.half-element {
	width: 40%;
	height: 80%;
	overflow: hidden;
}

.rounded-element {
	border-radius: 20px;
	background-color: #fcf8ff;
}

.shadow-element {
	box-shadow: 0px 5px 10px 0px #4b4453;
	transition-timing-function: ease-in;
	transition-duration: 0.15s;
}

.shadow-element:hover {
	transform: translateY(-10px);
	box-shadow: 0px 10px 15px 0px #4b4453;
	z-index: 5;
}

.img-cover {
	object-fit: cover;
	min-height: 100%;
}

.img-contain {
	object-fit: fill;
	max-height: 80%;
	margin-top: 10%;
}

.section {
	width: 100%;
	height: 100vh;
	text-align: center;
	padding: 2%;
}

/* moving onto the nav bar */
#nav-logo {
	width: 40px;
	height: 40px;
	margin-bottom: 4%;
}

#logo-larger {
	width: 15vh;
	height: 15vh;
}

#logo:hover {
	color: #a77ce4;
}

/* navigation bar */
/* modified code from here, but used display: flex instead for more ease of use */
/* https://www.w3schools.com/css/css_navbar.asp */
ul.nav-list {
	z-index: 10;
	font-weight: 300;
	list-style-type: none;
	margin: 0;
	padding-left: 5.9%;
	padding-right: 5.9%;
	position: fixed;
	top: 0;
	height: 10vh;
	background-color: #fcf8ff;
	flex-shrink: 0;
	width: 100%;
}

/* navigation bar */
/* modified code from here */
/* https://www.w3schools.com/css/css_navbar.asp */
ul.nav-list > li a {
	font-size: 1.3rem;
	padding: 20px;
	float: left;
	text-decoration: none;
	color: #4b4453;
	transition-duration: 0.15s;
	transition-timing-function: linear;
}

ul.nav-list > li a:hover {
	color: #a77ce4;
}

.nav-button a {
	display: block;
	font-size: 1.3rem;
	text-decoration: none;
	margin: 10px;
	padding: 7px;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	border-color: #a77ce4;
	color: #a77ce4;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 0.3s;
}

.nav-button a:hover {
	background-color: #a77ce4;
	color: #fcf8ff;
}

#below-nav-bar {
	width: 100%;
	height: 4vh;
	position: fixed;
	top: 7vh;
	/* background: blue; */
	background: linear-gradient(#fcf8ff, #ffffff00);
}

.nav-right {
	float: right;
}


.hover-underline:hover {
	text-decoration: underline;
}

/* moving onto the first section, landing */
#landing {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: left;
}

/* photogrid stuff */
.photo-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0% 6% 0% 6%;
}

.photo-grid img {
	margin: 1%;
	max-width: 40vw;
	// max-height: 40vh;
	width: auto;
	height: auto;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.photo-grid img:hover {
	transform: translateY(-5px);
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

#contact-me h2 {
	margin-top: 1%;
}

#contact-panels {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10%;
}

button {
	border: none;
	border-radius: 50px;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
}

button:hover {
	background-color: #a77ce4;
}

a > button {
	width: 8vw;
	height: 8vh;
	font-weight: 400;
	color: #fcf8ff;
	background-color: #4b4453;
	font-size: 1.3rem;
	text-decoration: none;
}

#APOD {
	height: 50vh;
	width: auto;
}

.apod {
	padding-left: 5%;
	padding-right: 5%;
}

/* from course website */
@media (max-width: 640px) {
	/* centering all content on the website  */
	.section {
		justify-content: center;
	}

	ul.nav-list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* The below code (HAMBURGER BAR SECTION) was created inspired by the tutorial below. I modified a few things as necessary to fit the aims of my website */
	/* HOWEVER, I definitely started with the code from this tutorial, I do not take credit */
	/* https://unused-css.com/blog/css-only-hamburger-menu/ */

	/* This is to make the hamburger menu visible when we change to mobile */
	.hamburger-container > input,
	.hamburger {
		visibility: visible;
	}

	/* styling the hamburger icon */
	.hamburger {
		z-index: 1;
		position: absolute;
		top: 1%;
		right: 0px;
		margin: 3%;
		width: 20px;
		height: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	/* this is a 'slice' as used in the tutorial, modified to my liking */
	/* definitely used the css used as a reference point */
	.hamburger .slice {
		width: 100%;
		height: 4px;
		background: #4895ef;
	}

	/* checkbox moved to the top right corner where the hamburger is */
	/* modified boilerplate code */
	.hamburger-container .checkbox {
		opacity: 0;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	/* this sets a starting location for the navigation stuff before we translate it over */
	/* THIS CODE IS WAS DIRECTLY TAKEN FROM https://unused-css.com/blog/css-only-hamburger-menu/ */
	/* IT WAS THEN MODIFIED TO MY LIKING */
	.nav-stuff {
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		background: black;
		transform: translateX(+100%);
		transition: transform 0.3s linear;
	}

	/* if we click the check box, the menu moves over */
	/* from same tutorial */
	.hamburger-container .checkbox:checked ~ .nav-stuff {
		visibility: visible;
		transform: translateX(0%);
	}

	/* same stuff but for the links */
	/* from same tutorial */
	.hamburger-container .nav-stuff a {
		visibility: hidden;
		transition: visibility 0.3s linear;
	}

	/* from same tutorial */
	.hamburger-container .checkbox:checked ~ .nav-stuff a {
		visibility: visible;
	}

	/* make flex columns for mobile! */
	.columns {
		flex-direction: column;
		align-items: center;
	}
}


// taken and modified from https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
/* The dropdown container */
.dropdown {
	float: right;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	border: none;
	outline: none;
	color: #4b4453;
	font-size: 1.3rem;
	padding: 20px;
	text-decoration: none;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	border-radius: none;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }

  .dropbtn:hover {
	cursor: pointer;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	color: #a77ce4;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #fcf8ff;
	width: auto;
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content .dropdown-listitem {
	float: none;
	color: #4b4453;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	color: #a77ce4;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }